<a href="https://colab.research.google.com/github/alif-rakasha/project-visualisasi-data-kelompok-7/blob/main/Project_Visualisasi_Data_Kelompok_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---
<h1><b>SUSTAINABLE DEVELOPMENT GOALS: DECENT WORK AND ECONOMIC GROWTH </b></h1>

---


 Kelompok 7:
1. Rifqi Fadhlur Rahman (1187050089)
2. Alif Rakasha Pratama Putra (1197050012)
3. Harry Akbar Fauzan (1197050047)
4. Muhammad Rizkon Fithri Wikarta (1197050090)
5. Yunita Minarni (1197050133)

---

<h2><b>Topik Penelitian</b></h2>

---

Penelitian yang akan dilakukan ini berkaitan dengan rencana global "*Sustainable Development Goals*" yang berfokus pada tujuan ke-8 yaitu "*Decent Work and Economic Growth*".

Pada penelitian ini akan dilakukan analisis, pengolahan, dan pemodelan data, mengenai perkembangan ekonomi, laju ekonomi, dan angka pengangguran di seluruh provinsi Indonesia.

---

<h2><b>Business Understanding</b></h2>

---

* Latar Belakang Masalah

Ekonomi merupakan salah satu komponen/sektor terpenting pada suatu negara, bahkan dunia. Dengan pembangunan ekonomi, suatu negara dapat mendapatkan ketersediaan kebutuhan hidup seperti kebutuhan pokok, pangan, sandang, papan, pendidikan, kesehatan, dan lainnya.

Di Indonesia, ekonomi banyak memberikan dampak bagi masyarakat. Terutama ketika terjadinya pandemi covid-19 yang menyebabkan maraknya perubahan pada ekonomi Indonesia, seperti fluktuasi terhadap harga bahan pokok, masyarakat yang kehilangan pekerjaan karena perusahaan yang terdampak pandemi, pekerja yang terjangkit tidak dapat bekerja dan memerlukan biaya perawatan.

Dikutip dari Badan Pusat Statistik, pada bulan Agustus tahun 2022, Indonesia memiliki persentase tingkat pengangguran terbuka sebesar 5,86%. Angka tersebut relatif lebih besar bila dibandingkan dengan negara lain di Asia Tenggara. Hal ini mungkin disebabkan karena masih kurangnya lowongan kerja yang layak, keengganan beberapa golongan masyarakat untuk bekerja secara layak, ataupun pengetahuan, wawasan, dan keterampilan tentang dunia kerja yang belum memenuhi standar. 

Selain itu, jumlah provinsi di Indonesia saat ini adalah sebanyak 37 provinsi. Hal tersebut juga dapat menjadi faktor laju ekonomi serta angka pengangguran di Indonesia belum cukup baik, dikarenakan pembangunan ekonomi yang belum merata kepada seluruh bagian negeri Indonesia.

* Identifikasi Masalah

Berdasarkan latar belakang tersebut. Pada penelitian ini, akan dilakukan analisis dan penyelesaian masalah-masalah berikut.
1. Bagaimana perubahan angka pengangguran di Indonesia di setiap tahunnya?
2. Provinsi Indonesia mana yang memiliki tingkat pengangguran tertinggi?
3. Golongan jenjang pendidikan apa yang menjadi penyumbang angka pengangguran terbanyak di Indonesia?
4. Bagaimana solusi untuk mengatasi angka pengangguran yang tinggi tersebut?
5. Bagaimana laju pertumbuhan ekonomi pada setiap provinsi di Indonesia?
6. Provinsi Indonesia mana yang memiliki pertumbuhan ekonomi tertinggi dan terendah?
7. Provinsi Indonesia mana yang ekonominya dapat dikatakan sudah cukup baik dan masih kurang baik?
8. Bagaimana solusi untuk mengatasi laju ekonomi yang lambat?
9. Bagaimana prediksi laju ekonomi pada tahun berikutnya pada masing-masing provinsi? (opsional)
10. Bagaimana pengklasifikasian tingkatan ekonomi pada masing-masing provinsi? (opsional)

* Metode Pendekatan Masalah

Untuk pendekatan dan penyelesaian masalah, akan diimplementasikan visualisasi data dan juga model pembelajaran mesin.

Visualisasi data akan menyajikan data angka pengangguran dan laju pertumbuhan ekonomi menggunakan tipe chart yang sesuai, seperti Line Chart dan Map Chart.

Sedangkan, model pembelajaran mesin yang akan digunakan adalah antara Regresi atau Klasifikasi. Regresi merupakan model untuk melakukan prediksi atau ramalan terhadap nilai, berdasarkan keterkaitan dua variabel atau lebih. Sedangkan, klasifikasi adalah model untuk melakukan penggolongan, pemberian label, sesuai dengan karakteristik data yang sudah dipelajari.

Untuk saat ini, masih belum pasti opsi mana yang akan dipilih. Dikarenakan, setiap model dan algoritma membutuhkan jenis data yang berbeda-beda. Sedangkan, data yang dikumpulkan masih belum terkumpul secara maksimal.

* Tujuan Penelitian

Dengan dilakukan penelitian ini, diharapkan dapat memenuhi tujuan-tujuan berikut.
1. Mengetahui perubahan angka pengangguran di Indonesia setiap tahunnya.
2. Mengetahui provinsi di Indonesia yang memiliki tingkat pengangguran tertinggi.
3. Mengetahui golongan jenjang pendidikan yang banyak menjadi pengangguran di Indonesia.
4. Menemukan solusi dalam mengatasi angka pengangguran yang tinggi.
5. Mengetahui laju pertumbuhan ekonomi di Indonesia.
6. Mengetahui provinsi di Indonesia yang memiliki pertumbuhan ekonomi tertinggi dan terendah.
7. Mengetahui provinsi di Indonesia yang ekonominya sudah baik dan kurang baik.
8. Menemukan solusi dalam mengatasi laju ekonomi yang lambat.
9. Memprediksi nilai laju pertumbuhan ekonomi untuk tahun berikutnya di setiap provinsi. (opsional)
10. Mengklasifikasi tingkatan ekonomi pada setiap provinsi. (opsional)

* Timeline Penelitian

Penelitian akan dilakukan selama 6 minggu, yang sudah diatur penjadwalannya untuk menentukan tema, merumuskan masalah, mencari referensi, mencari data, menganalisis data, mempersiapkan data, pemodelan data, evaluasi, dan penyusunan laporan.

Dirincikan sebagai berikut:
* Minggu ke-1: Penentuan dan Fiksasi Tema, Business Understanding
* Minggu ke-2: Data Understanding
* Minggu ke-3: Data Preparation
* Minggu ke-4: Data Modeling
* Minggu ke-5: Evaluasi
* Minggu ke-6: Penyusunan Laporan

---

<h2><b>Data Understanding</b></h2>

---


Data yang akan digunakan pada penelitian ini adalah data yang berkaitan dengan pertumbuhan ekonomi dan hal-hal yang memengaruhi laju pertumbuhan ekonomi di indonesia.  

Data tersebut diperoleh dari BAPPENAS (Badan Perencanaan Pembangunan Nasional)*. Pada situs BAPPENAS, terdapat banyak data yang berkaitan dengan ekonomi indonesia namun belum terintegrasi, sehingga perlu dilakukan penyiapan, penyeragaman, dan penggabungan terlebih dahulu sebelum dapat digunakan pada penelitian ini.

Data yang akan kami gunakan pada penelitian ini adalah sebagai berikut:
- Provinsi: seluruh provinsi Indonesia sebanyak 34.
- Tahun: tahun, yaitu 2018-2021.
- Tingkat Pengangguran Terbuka: angka pengangguran per tahun pada masing-masing provinsi. 
- Tingkat Kemiskinan: angka kemiskinan per tahun pada masing-masing provinsi.
- Rasio Gini: angka rasio gini per tahun pada masing-masing provinsi.
- Indeks Pembangunan Manusia: angka IPM per tahun pada masing-masing provinsi.
- Laju Pertumbuhan Ekonomi: angka laju pertumbuhan ekonomi per tahun pada masing-masing provinsi.
- Kelas Ekonomi: penggolongan kategori ekonomi bawah, tengah, atau atas terhadap masing-masing provinsi.

*URL BAPENNAS: https://simreg.bappenas.go.id/

---

<h2><b>Data Preparation</b></h2>

---

In [125]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [133]:
#Library
import pandas as pd

In [134]:
#Load Data dan Tampilkan
df = pd.read_csv("/content/drive/MyDrive/data_penelitian_kelompok_7.csv")
df

,provinsi,tahun,tingkat_kemiskinan,tingkat_pengangguran,rasio_gini,ipm,laju_ekonomi
0,Aceh,2018,15.68,6.34,0.32,71.19,4.61
1,Sumatera Utara,2018,8.94,5.55,0.31,71.18,5.18
2,Sumatera Barat,2018,6.55,5.66,0.31,71.73,5.14
3,Riau,2018,7.21,5.98,0.35,72.44,2.35
4,Jambi,2018,7.85,3.73,0.34,70.65,4.69
...,...,...,...,...,...,...,...
131,Sulawesi Barat,2021,11.85,3.13,0.37,66.36,2.56
132,Maluku,2021,16.30,6.93,0.32,69.71,3.04
133,Maluku Utara,2021,6.38,4.71,0.28,68.76,16.40
134,Papua Barat,2021,21.82,5.84,0.37,65.26,-0.51
135,Papua,2021,27.38,3.33,0.40,60.62,15.11

In [135]:
#Tampilkan Informasi Data dan Tipe Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   provinsi              136 non-null    object
 1   tahun                 136 non-null    int64
 2   tingkat_kemiskinan    136 non-null    float64
 3   tingkat_pengangguran  132 non-null    float64
 4   rasio_gini            132 non-null    float64
 5   ipm                   132 non-null    float64
 6   laju_ekonomi          132 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 7.6+ KB

In [136]:
#Baris Data dengan Provinsi Bangka Belitung dihilangkan, karena tidak mempunyai nilai pada beberapa kolom
df_new = df.drop(df.query('provinsi == "Bangka-Belitung"').index)
print(df_new)

           provinsi  tahun  tingkat_kemiskinan  tingkat_pengangguran  \
0              Aceh   2018               15.68                  6.34
1    Sumatera Utara   2018                8.94                  5.55
2    Sumatera Barat   2018                6.55                  5.66
3              Riau   2018                7.21                  5.98
4             Jambi   2018                7.85                  3.73
..              ...    ...                 ...                   ...
131  Sulawesi Barat   2021               11.85                  3.13
132          Maluku   2021               16.30                  6.93
133    Maluku Utara   2021                6.38                  4.71
134     Papua Barat   2021               21.82                  5.84
135           Papua   2021               27.38                  3.33

     rasio_gini    ipm  laju_ekonomi
0          0.32  71.19          4.61
1          0.31  71.18          5.18
2          0.31  71.73          5.14
3          0.35  72.44          2.35
4          0.34  70.65          4.69
..          ...    ...           ...
131        0.37  66.36          2.56
132        0.32  69.71          3.04
133        0.28  68.76         16.40
134        0.37  65.26         -0.51
135        0.40  60.62         15.11

[132 rows x 7 columns]

In [137]:
#Tampilkan hasil penghapusan data kosong
df_new

,provinsi,tahun,tingkat_kemiskinan,tingkat_pengangguran,rasio_gini,ipm,laju_ekonomi
0,Aceh,2018,15.68,6.34,0.32,71.19,4.61
1,Sumatera Utara,2018,8.94,5.55,0.31,71.18,5.18
2,Sumatera Barat,2018,6.55,5.66,0.31,71.73,5.14
3,Riau,2018,7.21,5.98,0.35,72.44,2.35
4,Jambi,2018,7.85,3.73,0.34,70.65,4.69
...,...,...,...,...,...,...,...
131,Sulawesi Barat,2021,11.85,3.13,0.37,66.36,2.56
132,Maluku,2021,16.30,6.93,0.32,69.71,3.04
133,Maluku Utara,2021,6.38,4.71,0.28,68.76,16.40
134,Papua Barat,2021,21.82,5.84,0.37,65.26,-0.51
135,Papua,2021,27.38,3.33,0.40,60.62,15.11

---

<h2><b>Data Modeling</b></h2>

---

In [ ]:
#code

---

<h2><b>Evaluasi</b></h2>

---

In [ ]:
#code